*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.div-0{
display: flex;


}

.div-1{
width: 180px;
margin: 20px;

}
.div-2{
width: 180px;
margin: 20px;

}
.div-1 ul{
margin-top: 10px;
height: 50px;

}
.div-2 ul{
margin-top: 10px;
height: 50px;

}
